<launch>
  <include file="$(find rm_description)/launch/hero.launch">
    <arg name="load_chassis" value="true"/>
    <arg name="roller_type" value="realistic"/>
    <arg name="paused" value="true"/>
  </include>

  <rosparam file="$(find hero_chassis_controller)/config/controller.yaml" command="load"/>
  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" args="
        left_front_wheel_velocity_controller right_front_wheel_velocity_controller left_back_wheel_velocity_controller right_back_wheel_velocity_controller"/>
  <node name="chassis_controller_node" pkg="hero_chassis_controller" type="joint_velocity_controller" />
  <node name="gazebo_ros_control" pkg="gazebo_ros" type="gazebo_ros_control" />
  <node name="controller_manager" pkg="controller_manager" type="controller_manager" />

</launch>
